* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

.top-bar {
  display: flex;
  margin-top: 10px;
  margin-left: 12px;
}

.menu-icon {
  padding-left: 300px;
  padding-top: 20px;
  position: absolute;
  color: #6070ff;
}

.logo {
  padding-left: 20px;
  padding-top: 10px;
  font-family: serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
}

.left-ellipse {
  padding-top: 150px;
  padding-left: 0;
}

.center-ellipse1 {
  padding-left: 220px;
}

.center-rectangle {
  padding-left: 220px;
  margin-top: -50px;
  size: 100px;
}

.right-ellipse {
  padding-left: 380px;
  margin-top: 50px;
  width: 50px;
}

.right-rectangle {
  margin-top: -290px;
  padding-left: 320px;
}

.center-ellipse2 {
  margin-top: -160px;
  padding-left: 300px;
}

.circle-bottom {
  margin-top: 50px;
  padding-left: 100px;
}

.ellipse-bottom-center {
  padding-left: 300px;
}

.ellipse-bottom-right {
  float: right;
  margin-top: -150px;
}

.header {
  font-family: serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  margin-left: 3px;
}

.social-icons {
  padding-left: 5px;
  padding-right: 5px;
}

.paragraph {
  font-family: serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  text-align: left;
  margin-left: 3px;
}

.text {
  font-family: serif;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  color: #172b4d;
  margin-left: 5px;
}

.center-rect {
  width: 50px;
}

.social-contact {
  margin-left: 3px;
}


